.about-container {
    height: 100%;
    position: relative;
    top: 100px;
    border: 2px solid black;
}

.image {
    display: inline-block;
    margin-left: 0 auto;
    height: 300px;
    width: 300px;
    border: 10px solid red;
}

.text-section {
    display: inline-block;
    height: 300px;
    width: 500px;
    border: 10px solid blue;
    justify-content: space-between;
}

.image,
.text-section {
    max-height: 200px;
    max-width: 300px;
    margin: 0 auto;
}

.top {
    display: flex;
    flex-direction: column;
}

.divider {
    display: block;
    height: 60px;
    width: 2px;
    border-radius: 20%;
    margin: auto;
    background: black;
    transform: rotate(90deg);
}

.bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
}
.socials-links > a {
    cursor: pointer;
    padding: 10px;
    color: black;
}

.socials-links > a:hover {
    color: #C4C4C4;
}

.back-button {
    position: absolute;
    left: 10px;
    color: #2b2d42;
    background-color: #8D99AE;
    width: 60px;
    height: 40px;
    border: 2px solid #2b2d42;
    cursor: pointer;
}

@media (min-width: 737px) {
    .image {
        display: inline-block;
        margin-left: 0 auto;
        max-height: 300px;
        max-width: 300px;
        border: 10px solid red;
    }

    .text-section {
        display: inline-block;
        max-height: 300px;
        max-width: 500px;
        border: 10px solid blue;
        justify-content: space-between;
    }

    .top {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .divider {
        display: none;
    }

    .bottom {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}