.NavBar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  font-family: 'Times New Roman';
  /* background-color: #8D99AE; */
  background-color: #D3D3D3;
}

.logo-container {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.logo-m,
.logo-i {
  font-family: 'Times New Roman';
  position: absolute;
  font-size: 3.25em;
  line-height: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.logo {
  font-size: 1.25em;
  position: relative;
  line-height: 50px;
  text-align: left;
  margin-left: 10px;
}

.nav-links-container {
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  line-height: 50px;
  align-items: center;
}
.nav-links-container > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}