.carousel-container {
    /* height: 50vh; */

}

.carousel-container:hover {
    
}

.left-carousel-side {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.right-carousel-side {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.carousel-bottom {
    margin-top: 10rem;
}