.footer-container {
    position: relative;
    display: flex;
    box-sizing: border-box;
    height: 180px;
    width: 100%;
    border: 3px solid black;
}

.left-side-footer {
    display: flex;
    margin: auto;
    margin-left: 10px;
}

.middle-divider {
    display: block;
    height: 60px;
    width: 2px;
    border-radius: 20%;
    margin: auto;
    background: black;
}

.right-side-footer {
    display: flex;
    margin: auto;
    margin-right: 10px;
}

.name {
    font-weight: bold;
    height: 20px;
    margin: auto;
}

.socials-links > a {
    cursor: pointer;
    padding: 10px;
    text-decoration-line: none;
    color: black;
}

.socials-links > a:hover {
    color: #C4C4C4;
}

@media (max-width: 736px) {
    .footer-container {
        display: inline-block;
        flex-wrap: wrap;
        padding: 2px;
    }
    .middle-divider {
        transform: rotate(90deg);
    }
    .left-side-footer {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 2px;
    }
    .right-side-footer {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 6px;
    }
}