.footer-container {
    display: inline-block;
    position: relative;
    flex-wrap: wrap;
    height: 160px;
    width: fill-available;
    border: 3px solid black;
    padding: 2px;
}

.middle-divider {
    display: block;
    height: 60px;
    width: 2px;
    border-radius: 20%;
    margin: auto;
    background: black;
    transform: rotate(90deg);
}

.left-side-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 2px;
}

.right-side-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 6px;
}

.logo {
    display: none;
}

.copyright {
    display: none;
}

.name {
    font-weight: bold;
    height: 20px;
    margin: auto;
    text-decoration: none;
}

.socials-links > a {
    cursor: pointer;
    padding: 10px;
    text-decoration-line: none;
    color: black;
}

.socials-links > a:hover {
    color: #C4C4C4;
}

@media (min-width: 737px) {
    .footer-container {
        display: flex;
        max-width: 100%;
    }
    .middle-divider {
        transform: rotate(0deg);
    }
    .left-side-footer {
        display: flex;
        margin: auto;
        margin-left: 10px;
    }
    .right-side-footer {
        display: flex;
        margin: auto;
        margin-right: 10px;
    }
    .logo {
        display: block;
        margin-block-start: auto;
        margin-left: 4px;
        margin-bottom: 4px;
    }
    .copyright {
        display: block;
        margin-block-start: auto;
        margin-right: 4px;
        margin-bottom: 4px;
    }
}