html, body {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  position: relative;
  font-family: 'Roboto', 'Oxygen', 'Helvetica Neue', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
